<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "nav.html" %}

    <h1>Services</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, fugiat eaque earum vitae sequi facilis ut dolorem et magni similique velit laborum explicabo voluptatem expedita inventore at sed excepturi. Asperiores.
</body>
</html>